/* FormularioAniadirInvitado.css */
/* Main container for the form */
.formulario-aniadir-invitado {
  width: 70%; /* Responsive width */
  margin: 40px auto; /* Centering and vertical spacing */
  background: #FFFFFF; /* White background */
  border-radius: 8px; /* Consistent rounded corners */
  border: 1px solid #F3F4F6; /* Light grey border, consider using a variable or a consistent color from PaginaPrincipal.css */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth, adjusted for consistency */
  padding: 20px; /* Inner spacing */
}

/* Labels in your form */
.formulario-aniadir-invitado label {
  display: block;
  margin-bottom: 10px; /* Adjusted for visual balance */
  color: rgba(50,56,66,1); /* Text color, ensuring consistency */
  font-size: 20px; /* Readable font size */
  font-family: 'Montserrat', sans-serif; /* Consistent font-family across the app */
}

/* Input fields, selects, and textareas */
.formulario-aniadir-invitado input,
.formulario-aniadir-invitado select,
.formulario-aniadir-invitado textarea {
  width: 100%; /* Full-width inputs */
  padding: 10px; /* Comfortable padding */
  margin-bottom: 20px; /* Spacing between inputs for clarity */
  border: 1px solid #ccc; /* Subtle border for inputs */
  border-radius: 4px; /* Slight rounding of corners for aesthetic */
  box-sizing: border-box; /* Ensures padding does not affect overall width */
  font-family: 'Montserrat', sans-serif; /* Uniformity in font */
  /*font-weight: 600; Boldness for button text */
  font-size: 16px; /*Explicitly setting font size for clarity */
 
}

/* Adjusting the button styling in FormularioAniadirInvitado.css */
.formulario-aniadir-invitado button {
  display: block; /* Makes the button take up the full line */
  margin: 20px auto; /* Centers the button horizontally with auto margins */
  background-color: rgba(82,65,209,1); /* Primary color for buttons */
  color: white; /* Contrast for readability */
  padding: 10px 20px; /* Sufficient padding for touch targets */
  border: none; /* No border for a cleaner look */
  border-radius: 4px; /* Rounded corners for a modern appearance */
  cursor: pointer; /* Indicates the button is clickable */
  font-family: 'Montserrat', sans-serif; /* Consistency with the app's typography */
  font-weight: 600; /* Ensures the text is bold */
  font-size: 16px; /* Clear, legible font size */
  width: auto; /* Width based on content, allowing for padding to dictate size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds depth with a subtle shadow */
}

/* Enhance button interaction */
.formulario-aniadir-invitado button:hover {
  background-color: rgba(62,45,160,1); /* Darker shade on hover for visual feedback */
  box-shadow: 0 6px 12px rgba(23, 26, 31, 0.15); /* More pronounced shadow on hover for depth */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .formulario-aniadir-invitado {
    margin-top: 20px; /* Reduced top margin */
    padding: 15px; /* Adjusted padding for smaller screens */
  }
}


.formulario-title {
  font-size: 24px; /* Matching title size for consistency */
  color: rgba(50,56,66,1); /* Consistent text color */
  font-family: 'Montserrat', sans-serif; /* Ensuring font consistency */
  text-align: center; /* Center aligning the title */
  margin-bottom: 20px; /* Providing spacing between the title and the form inputs */
}
