/* Lista de invitados css */ 
/* Main container for the guest list */
.lista-invitados-container {
  width: 70%; /* Adjusted to be responsive */
  margin: 40px auto; /* Center the container and provide top margin for spacing */
  background: #FFFFFF; /* White background */
  border-radius: 8px; /* Adjusted to match global style */
  border: 1px solid #F3F4F6; /* Light grey border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjusted to match global style */
  padding: 20px; /* Inner spacing */
  font-family: 'Montserrat', sans-serif; /* Consistent font-family */
}

/* Style for the list items */
.lista-invitados-item {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space out the name and the remove button */
  margin-bottom: 10px; /* Margin between items */
  padding: 10px;
  border-bottom: 1px solid #eee; /* Subtle separator for each item */
}

/* Style for the name in the list */
.lista-invitados-name {
  font-size: 16px; /* Adjusted font size for readability */
  color: rgba(50,56,66,1); /* Consistent text color */
}

/* Style for the remove button */
.lista-invitados-remove-btn {
  background-color: rgba(82,65,209,1); /* Primary color for the button */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px; /* Adjusted for consistency */
  cursor: pointer; /* Cursor to indicate it's a button */
  font-size: 16px; /* Adjusted font size for consistency */
  /* font-weight: 600; /* Bold font for buttons */
}

/* Button hover effect */
.lista-invitados-remove-btn:hover {
  background-color: rgba(62,45,160,1); /* Slightly darker on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .lista-invitados-container {
      width: 95%; /* Full width on smaller screens */
      padding: 10px; /* Adjust padding */
  }
}

.send-invitations-btn {
  padding: 10px 20px;
  background-color: rgba(82,65,209,1); /* Primary color for consistency */
  color: white; /* For readability */
  border: none;
  border-radius: 4px; /* Consistent border-radius */
  cursor: pointer;
  font-size: 16px; /* Adjusted font size for consistency */
  font-family: 'Montserrat', sans-serif; /* Consistent font-family */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  margin-top: 20px; /* Spacing */
}

.send-invitations-btn:hover {
  background-color: rgba(62,45,160,1); /* Slightly darker on hover */
}

/* Style for the title in the list */
.lista-invitados-title {
  font-size: 24px; /* Size of the title */
  color: rgba(50,56,66,1); /* Text color */
  font-family: 'Montserrat', sans-serif; /* Consistent font-family */
  margin-bottom: 20px; /* Space below the title */
  text-align: center; /* Center the title */
}
