/*PALETA DE COLORES: MORADO: rgba(82,65,209,1) TEXTO: rgba(50,56,66,1) */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comfortaa:wght@300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Comfortaa:wght@300&display= intercambiar');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Quicksand:wght@300..700&display=swap');


*{
  margin:0; 
  padding:0;
}
/* menu navegador------------------------------------------------------------------------- */
.rectangulo{
  position: absolute; 
  top: 0px; 
  left: 0px; 
  width: 100%; 
  height: 11px; 
  background: rgba(82,65,209,1); 
  border-radius: 0px; 

  
}
.navMenu{
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  height: 90px;
  box-sizing: border-box;
  margin-top: 0px;
  padding-top: 10px;
  

  
}
.navLogo{
  box-sizing:content-box;
  width: 10%;
  background-image: url("https://github.com/FSDSTR1023/turquesa-imagenes/blob/master/img/Logo%20sin%20Fondo.png?raw=true" );
  /*background-size: contain;*/
  background-size: cover;
  background-position: center center; 
  background-repeat: no-repeat;


}


.navInicio{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
  align-items: baseline;
 

}
nav a{
  text-decoration: none;
  color:inherit;
}
nav ul{
  list-style-type: none;
  display:flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  box-sizing: content-box;
  align-items: flex-end;
  justify-content: flex-end;

}
nav li{
  display:inline-block;
  justify-content: flex-end;
  margin: 7px;
  text-decoration: none;
  align-items: baseline;
  text-align: center;
  color:  rgba(82,65,209,1);
  font-size: 14px;
  padding:  12px; 
  position: relative;
  /*text-transform: uppercase;*/
  font-family: "Montserrat", sans-serif;
  
 
 
}
nav li:hover{
  color:rgb(183, 176, 238);
  border-bottom: 2px;
  border-bottom-color:  rgba(82,65,209,1);
  transition: all .4s ease;
  
}             /* efecto linea  */
nav li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgba(82, 65, 209, 1);
  transition: width 0.4s ease;
}
/*nav li:hover::after {
  width: 100%;
}*/
                  /* para que se quede marcado al hacer clic, mejor cambiar con js ** solo funciona con link        */ 
nav li:hover::after,
nav li:active::after,
nav li:focus::after {
  width: 100%;
 
}

nav a:active,
nav a:focus {                 
  background-color: rgba(82, 65, 209, 0.2);
  padding: 12px; 
  transition: all 0.4s ease;
  
}
/*---------------------------------------------------------------------------------------------*/

/*screenUno*/
.screenUno{
  height: 100vh;
  margin-top: 0px;
  background-image: url(https://github.com/FSDSTR1023/turquesa-imagenes/blob/master/img/fondoRosa.jpg?raw=true);
  background-size: cover;
  background-position: center center; 
  background-repeat: no-repeat;


}
.encabezado{
  display: flex;
  width: 90%;
  margin-left: 5%;
  height: 90vh;
  align-items: center;
  justify-content: space-around;


  

}
.izquierda{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
.textoBienvenida{

/*top: 70px; 
  left: 10px; */
  width: 700px; 
  font-family:Abril Fatface; 
  font-size: 9em;
  font-weight: 400; 
  line-height: 240px; 
  color: rgba(255,255,255,1);
  text-shadow: rgba(82, 65, 209, 0.2) 0.3em 0.2em 0em;
  text-align: center;
  line-height: 1;
  


}
.imagenMuestra{
position: relative;
width: 100%;
height: 554px;
margin-top: -10%;

/*background-image: url(https://github.com/FSDSTR1023/turquesa-imagenes/blob/master/img/ejemplo%20de%20invitacion.jpg?raw=true);
background-size: cover;
background-position: center center; 
background-repeat: no-repeat;
height: 300vh;
/*top: 172px; 
left: 729px;*/
/*width: 100%; 
height: 544px; 
border-radius: 8px; 
box-shadow: 0px 17px 35px rgba(23, 26, 31, 0.24), 0px 0px 2px rgba(23, 26, 31, 0.12);
opacity: 1; /* Inicialmente oculta */
/*transition: transform 8s ease;
overflow: hidden;*/


}
.imagenMuestra::before{
    content: ""; /* Necesario para que el pseudo-elemento exista y tenga altura */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2500px;
    background-image: inherit;
    background-size: inherit;
    transition: transform 9s ease;
}
.imagenMuestra:hover::before {
    transform: translateY(-78%);
}

.rectanguloTexto1{
  display: flex;
  margin-left: -100px;
  top: 706px; 
  left: 63px; 
  width: 610px; 
  height: 98px; 
  background: rgba(255,255,255,1); /* white */
  border-top-right-radius: 49px; 
  border-bottom-right-radius: 49px; 

  box-shadow: 0px 8px 17px rgba(23, 26, 31, 0.15), 0px 0px 2px rgba(23, 26, 31, 0.12); 
  text-align: center;
  align-items: center;
  font-family: Advent Pro; 
  font-size: 20px; 
  font-weight: 400; 
  line-height: 30px; 
  -webkit-animation: slide-in-left 0.5s ease-out ;
  animation: slide-in-left 0.5s ease-out ;

  
}

.rectanguloTexto1 p {
  padding-left: 90px;
  color:rgb(17, 19, 22);
  margin-left: 20%;
 

  
}
/* ----------------------------------------------
 * Generated by Animista on 2024-1-28 20:29:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}



.colocarBotones{
  display: flex;
  flex-direction: row;
  margin-top: 20%;
  margin-left: 40%;
}
/*_________________________________________BOTÓN MORADO_______________________________*/
.buttomMorado{
  margin: 5px;
  height: 44px; 
  padding: 0 16px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: "Montserrat", sans-serif;
  font-size: 16px; 
  font-weight: 400; 
  line-height: 26px; 
  color: rgba(255,255,255,1);
  background: rgba(82,65,209,1); 
  opacity: 1; 
  border: none; 
  border-radius: 4px; /* border-m */
  box-shadow: 0px 4px 9px rgba(23, 26, 31, 0.11), 0px 0px 2px rgba(23, 26, 31, 0.12); /* shadow-m */
}
.buttomMorado:hover{
  color: rgba(255,255,255,1); /* white */
  background: rgba(50,37,151,1); 
}
/* Pressed */
.buttomMorado:hover:active {
  color: rgba(255,255,255,1); /* white */
  background: rgba(34,25,103,1); 
}
/* Disabled */
.buttomMorado:disabled {
  opacity: 0.4; 
}


/*-----------------------------------screen2----------------------------------*/
.screenDos{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
  background-color: rgb(82, 65, 209);
  background-size: cover;
  background-position: center center; 
  background-repeat: no-repeat;

  
}
.tituloScreenDos{
  margin-top: 5%;
  height: min-content;
  font-family: Advent Pro; 
  font-size: 48px; 
  color: rgba(255,255,255,1); 
}

.slider{
  display: flex;
  top: 356px; 
  left: 310px; 
  width: 1299px; 
  height: 368px; 
  background: rgba(255,255,255,1); /* white */
  border-radius: 25px; 
  box-shadow: 0px 4px 9px rgba(23, 26, 31, 0.11), 0px 0px 2px rgba(23, 26, 31, 0.12); /* shadow-m */
  align-items: center;
  padding-left: 20px;
  

}


/*---------------------------------------------------------------------------------*/
.buttonTarjetaOro{
  width: 50px;
  height: 20px;
  background-color: blue;
}

/*screen3*/
.screenTres {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 20px;
}

.tarjetasDeMuestra {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; 
  gap: 15px;

}