.VentanaInvitacionBoard {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.ConfirmarAsistenciaPopup{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgb(255, 252, 252);
    border: 0.5px solid rgba(0, 0, 0, 0.075);
    padding: 32px;
    border-radius: 8px;
    transform: translate(-50%, -50%);
  }

  .ConfirmarAsistenciaPopup p{
    color: black;
  }

  .ConfirmarAsistenciaPopupBotones {
    display: flex;
    flex-direction: row;
  }
  
  .ConfirmarAsistenciaOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(82,65,209,0.74);
    opacity: 0.5;
  }